{% extends "base.html.j2" %}

{% block content %}
    <h1>User: {{ user.username }}</h1>
    
    <div class=catch><button class="btn btn-danger" type="submit"><a class="nav-link" href="{{url_for('index')}}">BACK TO CATCH</a></button></div>

{% endblock %}